%h1 Listing users

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th ID
      %th e-mail
      %th Status
      %th Lodging
      %th{:colspan => 3}

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user_status(user)
        %td= user.lodgings.first ?  user.lodgings.first.company_name : ''
        %td= link_to icon('eye'), user, title: 'view this user'
        %td= link_to icon('pencil'), edit_user_path(user), title: 'edit this user'
        %td= link_to icon('trash'), user, title: 'delete this user',  :method => :delete, :data => { :confirm => 'Are you sure?' }

.actions
  = link_to 'Invite a New User', new_user_invitation_path, class: "btn btn-warning"
