%p#notice= notice

%p
  %b Name:
  = @epostcard.name
%p
  %b Main image:
  = @epostcard.main_image.url
%p
  %b Page:
  = @epostcard.page

= link_to 'Edit', edit_epostcard_path(@epostcard)
\|
= link_to 'Back', epostcards_path
