= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    %b Post Card Page header:
    %br
    = f.text_area :content_header,  :cols => 50, :rows => 3 
  .field
    %p section one content:
    = f.text_area :content_one,  :cols => 50, :rows => 3 
  .field
    %p section two content:
    = f.text_area :content_two,  :cols => 50, :rows => 3 
  .actions
    = f.submit 'Save', class: "btn btn-success"
