= render partial: "epostcard_user_header"
.mt-5
  %h1 Create your postcard here
  %hr
  .row.mt-5
    .col-lg-5
      = form_for @email do |f|
        - if @email.errors.any?
          #error_explanation
            %h2= "#{pluralize(@email.errors.count, "error")} prohibited this email from being saved:"
            %ul
              - @email.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          %h4 Your name?
          = f.text_field :from_name, class: 'form-control'
          %h4 Your email address ?
          = f.text_field :from_email, class: 'form-control'
        .form-group
          %h4 Recipient's name ?
          = f.text_field :to_name, class: 'form-control'
          %h4 Recipient's e-mail address?
          = f.text_field :to_email, class: 'form-control'
        .form-group
          %h4 Type your personal message:
          = f.text_area :message, class: 'form-control', rows: '10'
        .form-check
          .form-check-label
            = f.check_box :opt_in, class: 'form-check-input'
            .small-text
              Yes, I would like to receive special offers from this hotel
        .actions
          = f.hidden_field :epostcard_id, :value => (params[:pid])
          = f.hidden_field :lodging_id, :value => (params[:lid])
          = f.hidden_field :send_token, :value => SecureRandom.urlsafe_base64(25)
          = link_to "Go back to all cards", :back,  class: 'btn btn-warning' 
          = f.submit 'Preview and send your card', class: 'btn btn-success'
  
    .col-lg-5.email-compose-right
      =image_tag @epostcard.main_image.thumb.url
      =image_tag 'postcard-back-sample-thumb.png', :size => "333x200"
  .row.mt-5
    .col-lg-5
