%h1 Listing lodgings
%h2 #{@lodgings.count} total

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Company name
      %th City
      %th State
      %th Url
      %th Contact
      %th Email
      %th
      %th
      %th

  %tbody
    - @lodgings.each do |lodging|
      %tr
        %td= lodging.company_name
        %td= lodging.city
        %td= lodging.state
        %td= truncate(lodging.url, length: 37)
        %td= truncate(lodging.contact, length: 10)
        %td= truncate(lodging.email, length: 30)
        %td= link_to 'Show', lodging
        %td= link_to 'Edit', edit_lodging_path(lodging)
        %td= link_to 'Destroy', lodging, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lodging', new_lodging_path
