%p#notice= notice

%h1= @lodging.company_name

.row.col-lg-9.mt-3
  %table.table.table-striped.table-bordered.table-responsive
    %tr.table-success
      %th Lodging Name
      %th Region
      %th{colspan: 5} Address
    %tr
      %td= @lodging.company_name
      %td= @lodging.region_ref
      %td= @lodging.address_line_one
      %td= @lodging.address_line_two
      %td= @lodging.city
      %td= @lodging.state
      %td= @lodging.zip

.row.col-lg-10.mt-9
  %table.table.table-striped.table-bordered.table-responsive
    %tr.table-success
      %th Phone:
      %th Reservation:
      %th Fax:
      %th Url:
      %th Contact:
      %th Season:
      %th Email:
      %th Details:
    %tr
      %td= @lodging.phone
      %td= @lodging.reservation
      %td= @lodging.fax
      %td= @lodging.url
      %td= @lodging.contact
      %td= @lodging.season
      %td= @lodging.email
      %td= @lodging.details


.actions.mt-2
  = link_to 'Edit lodging info', edit_lodging_path(@lodging), class: "btn btn-warning"
  = link_to 'Back', lodgings_path, class: "btn btn-info"


.row.mt-5 
  %h2 Lodging Services

.row.col-lg-10.mt-9
  %table.table.table-striped.table-bordered.table-responsive
    %tr.table-info
      %th Service
      %th Active ?
      %th Subscription valid until
      %th 
    %tr
      %td e-postcard
      %td Yes
      %td= distance_of_time_in_words(Time.now, 1.years.from_now )
      %td
        = link_to 'view page', page_path(1), class: "btn btn-success"
        = link_to 'edit page', edit_page_path(1), class: "btn btn-warning"

    %tr
      %td Nearby Navigator
      %td No
      %td expired
      %td= link_to 'enable page', page_path(2), class: "btn btn-danger"



