!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LocalDex
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - flash.each do |name, msg|
      = content_tag(:div, msg, class: "alert alert-info")
  -if current_user
    %body
      %nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.bg-faded
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        %a.navbar-brand.mb-0{:href => home_index_path} LocalDex
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li{:class => active_nav_class(home_index_path)}
              %a.nav-link{:href => home_index_path} Dashboard
            %li{:class => active_nav_class(users_path)}
              %a.nav-link{:href => users_path} Users
            %li{:class => active_nav_class(lodgings_path)}
              %a.nav-link{:href => lodgings_path} Lodgings
            %li.nav-item
              %a.nav-link.disabled{:href => "#"} Attractions
          %ul.nav.justify-content-center
            %li.nav-item.dropdown
              %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", "aria-haspopup" => "true", "aria-expanded" => "false"} 
                =current_user.email #{icon('user')}
              %ul.dropdown-menu{"role" => "menu"}
                %li
                  %a.dropdown-item{:href => user_path(current_user)} 
                    My account
                  %a.dropdown-item{:href => user_path(current_user)} 
                    Change password
                  .dropdown-divider
                  -# %a.dropdown-item{:href => "#link3"} 
                  %a.dropdown-item{:href => destroy_user_session_path, :method => :delete}
                    Log Out

          %form.form-inline.my-2.my-lg-0.justify-content-end
            = form_tag(lodgings_path, method: :get) do
              = text_field_tag :term, params[:term], class: 'form-control mr-sm-2', placeholder: "search for lodging.." 
              = submit_tag 'Search', class: 'button btn btn-outline-success my-2 my-sm-0'

  .container
    .content
      %br
      = yield
